.logo {
  padding-top: 30px;
  padding-left: 6px;
}
.signup-btn {
  margin-top: 30px;
  margin-left: 70px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  border-radius: 0.6rem;
  border: none;
  font-size: 2.5rem;
  background-color: #2bb0ed;
  font-family: 'Russo One', sans-serif;
  color: #fff;
}

.signup-btn:hover {
  border: 1px solid #2bb0ed;
  background-color: transparent;
  color: #2bb0ed;
  cursor: pointer;
}

.login-btn {
  margin-top: 10px;
  margin-left: 90px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  border-radius: 0.6rem;
  border: none;
  font-size: 2.5rem;
  background-color: #2bb0ed;
  font-family: 'Russo One', sans-serif;
  color: #fff;
}

.login-btn:hover {
  border: 1px solid #2bb0ed;
  background-color: transparent;
  color: #2bb0ed;
  cursor: pointer;
}

#bottom-nav {
  background-image: linear-gradient(to bottom right, #2bb0ed, #fff, #2bb0ed);
  background-size: cover;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  height: 2em;
}

#bottom-nav-icon {
  color: #0b69a3;
}

#image {
  height: 100%;
  width: 100%;
}
