html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
  color: #2bb0ed;
  background-image: url('./images/home.png');
  background: cover;
  /* background-image: linear-gradient(to bottom right, #2bb0ed, #fff, #2bb0ed); */
}
